.m0a{
    margin: 0 auto;
}
.w10{
    width: 10%;
}
.w15{
    width: 15%;
}
.w20{
    width: 20%;
}
.w25{
    width: 25%;
}
.w30{
    width:30%;
}
.w33{
    width: 33%;
}
.w35{
    width: 30%;
}
.w35{
    width: 35%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w55{
    width: 55%;
}
.w60{
    width: 60%;
}
.w65{
    width: 65%;
}
.w70{
    width: 70%;
}
.w75{
    width: 75%;
}
.w80{
    width: 80%;
}
.w85{
    width: 85%;

}
.w90{
    width: 90%;
}
.w95{
    width: 95%;
}

.row{
    display: flex;
    /*display:grid*/
}
h1{
    font-size: 5.5vh;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
p,span,a,li,label{
    font-family: "Lato", sans-serif;
    font-style: normal;
}
form{
    justify-content: center;
}