@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;600&display=swap');
@import './components/colors.css';
@import './components/table.css';
@import './components/backgrounds.css';
@import "tailwindcss";

/* Variables de fuente */
@layer theme {
  --font-sans: "Poppins", sans-serif;      /* Texto normal */
  --font-heading: "Nunito", sans-serif;    /* Encabezados */
}

/* Clase opcional para encabezados */
.font-heading {
  font-family: var(--font-heading);
}

/* O automático para todos los encabezados */
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
}
