.bg-forms{
    background: linear-gradient(45deg,rgba(255, 153, 0, 0.616) 0%, rgba(255, 115, 0, 0.39) 100%);
}
.bg-white-transparent{
    background-color: rgba(240, 240, 240, 0.621);
}
.txt-orange{
    color: #ff7300;
}
.bg-black-transparent{
    background-color: rgba(0, 0, 0, 0.437);
}
.bg-courses{
    background: linear-gradient(135deg, #D7DDE8, #757F9A);
}
