.bg-forms{
    background: linear-gradient(45deg,rgba(255, 153, 0, 0.616) 0%, rgba(255, 115, 0, 0.39) 100%);
}
.bg-white-transparent{
    background-color: rgba(240, 240, 240, 0.621);
}
.txt-orange{
    color: #ff7300;
}
.bg-black-transparent{
    background-color: #d9d9d998;
}
.bg-courses{
    background: linear-gradient(135deg, #D7DDE8, #757F9A);
}

.text-login{
    color: #fca21c;
}
.bg-gradient-login{
    background: linear-gradient(37deg,rgba(255, 115, 0, 0.86) 14%, rgba(255, 255, 255, 0.85) 100%);
}
.sidebar-gradient {
    background: linear-gradient(0deg,rgba(254, 88, 4, 1) 0%, rgb(254, 171, 81) 85%);
}
.bg-body{
    background-color: #FEF2E6;
}
.center-item.active {
    background-color: #eff6ff;
    border-color: #3b82f6;
}
#center-detail {
    transition: all 0.3s ease-in-out;
}
.flex-grow {
    flex-grow: 1;
}